# Python
.coverage
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
outputs/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
logs/
log/
wheels/
*.egg-info/
.installed.cfg
*.egg
core.*
# Virtual Environment
.env
.venv
env/
coverage/
coverage*
venv/
ENV/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Project specific
models/checkpoints/
pretrained_models/
wandb/
data/
*.pt
*.pth
*.ckpt

# Jupyter
.ipynb_checkpoints
*.ipynb_checkpoints/ 

# Sweep
wandb/
logs/

# CSV
*.csv
reports/
