pipeline_project: !!str "DeepCORO_clip"
base_checkpoint_path: !!str outputs
# Training parameters
epochs: !!int 30
num_workers: !!int 16
debug: !!bool false
use_amp: !!bool true
period: !!int 1
run_mode: !!str train
# Dataset parameters
data_filename: !!str /media/data1/ravram/DeepCORO_CLIP_ENCODER/datasets/reports_with_alpha_separator_with_Calcifc_Stenosis_IFR_20250601_RCA_LCA_merged_with_left_dominance_dependent_vessels.csv
root: !!str "."
target_label: !!str Report
datapoint_loc_label: !!str FileName
frames: !!int 16
stride: !!int 2
aggregate_videos_tokens: !!bool true
per_video_pool: !!bool false
multi_video: !!bool false
num_videos: !!int 1
groupby_column: !!str StudyInstanceUID
shuffle_videos: !!bool true
batch_size: !!int 24
# Seed
seed: !!int 42
# Model parameters
model_name: !!str mvit
pretrained: !!bool true
# Optimizer parameters
optimizer: !!str AdamW
scheduler_name: !!str cosine
lr: !!float 0.00006171328778901703
lr_step_period: !!int 20
factor: !!float 0.4476789624289505
loss_name: !!str contrastive
video_weight_decay: !!float 0.0000064829152813021765
text_weight_decay: !!float 7.969368788945428e-7
gradient_accumulation_steps: !!int 1
num_warmup_percent: !!float 0.1
num_hard_restarts_cycles: !!float 1.0
warm_restart_tmult: !!int 2
max_grad_norm: !!float 1.0
# Model architecture parameters
num_heads: !!int 8
aggregator_depth: !!int 2
temperature: !!float 0.05881384886977135
dropout: !!float 0.15848373640344304
video_freeze_ratio: !!float 0.8704820438649167
text_freeze_ratio: !!float 0.9200933214042454
# Checkpointing
resume_training: !!bool false
checkpoint: !!str outputs/deepCORO_CLIP/DeepCORO_Clip_Sweep_Learnable_Temp_Full_mvit_b12_f16_RAdam_lr0.0001_20250114-190320_2o5xoevj/checkpoints/latest.pt
output_dir: !!str outputs
save_best: !!str loss
# Metrics
# Recall @k
recall_k: [1, 5, 10, 50]
# NDCG @k
ndcg_k: [5]
# Data augmentation
rand_augment: !!bool true
resize: !!int 224
apply_mask: !!bool false
# wandb parameters
tag: !!str mvit_pretrained
name: !!str DeepCORO_Clip_Sweep_Multi_Video
project: !!str DeepCORO_Clip_Sweep_Multi_Video
entity: !!str mhi_ai
use_wandb: !!bool true
# Inference parameters
topk: !!int 5
text_embeddings_path: !!str /media/data1/datasets/ECG_Tokenizer/utils/inference/reports_embeddings.pt
metadata_path: !!str /media/data1/datasets/ECG_Tokenizer/utils/inference/reports_metadata.parquet
inference_results_path: !!str checkpoints/inference/
