pipeline_project: "DeepCORO_clip"
base_checkpoint_path: outputs
run_mode: train
epochs: 1
seed: 42
# WandB
name: "siglip_verification_sample"
project: "DeepCORO_Clip_Sweep_Multi_Video"
entity: "mhi_ai"
tag: "siglip_verification"
use_wandb: true
# Training
lr: 6.171328778901703e-05
batch_size: 8
num_workers: 4
debug: false
temperature: 0.05881384886977135
max_grad_norm: 1.0
use_amp: true
period: 1
gradient_accumulation_steps: 1
# Dataset
data_filename: "output_dataset/verification_sample/videos.csv"
siglip_texts_path: "output_dataset/verification_sample/texts.csv"
root: "."
target_label: null
datapoint_loc_label: "FileName"
frames: 16
stride: 1
multi_video: false
num_videos: 1
groupby_column: "StudyInstanceUID"
shuffle_videos: true
aggregate_videos_tokens: true
per_video_pool: false
data_mean: [105.67617, 105.67617, 105.67617]
data_std: [38.953922, 38.953922, 38.953922]
# Model
model_name: "mvit"
pretrained: true
video_freeze_ratio: 0.8
text_freeze_ratio: 0.75
dropout: 0.15
num_heads: 8
aggregator_depth: 1
# Optimizer / scheduler
optimizer: "AdamW"
scheduler_name: "cosine"
lr_step_period: 20
factor: 0.4476789624289505
video_weight_decay: 6.4829152813021765e-06
text_weight_decay: 7.969368788945428e-07
num_warmup_percent: 0.1
num_hard_restarts_cycles: 1.0
warm_restart_tmult: 2
# Loss / metrics
loss_name: "contrastive"
recall_k: [1, 5, 10, 50]
ndcg_k: [5]
# Aug
rand_augment: true
resize: 224
apply_mask: false
# Checkpointing
resume_training: false
checkpoint: ""
output_dir: outputs
save_best: "loss"
# Inference
topk: 5
text_embeddings_path: ""
metadata_path: ""
inference_results_path: "checkpoints/inference/"
